# Project files
.history
logs/
stats
tmp
.credentials_nexus

# MacOS X files
.DS_Store

# Eclipse 
.cache
target/
.classpath
.project
.settings/

# JRebel

#SBT
.metadata
project/target/

# Idea
.idea/
.idea_modules/
*.iml
atlassian-ide-plugin.xml
